body{
	background-color: lightsteelblue;
}
p{
	font-size: 50px;
	background-color: lightsalmon;
	color: khaki;
	display: block;
}
span{
	border: dashed 2px green;
	display: inline;
}
ul{
	list-style: none;
}
ul li{
	background-color: lightcyan;
	display: inline-block;
}
a{
	text-decoration: none;
	font-size: 24px;
	border: dotted 3px black;
	padding: 5px;
	background-color: ;
}
a:hover{
	background-color: yellow;
}
#first{
	background-color: lightpink;
	width: 500px;
	height: 500px;
	border-width: 30px;
	border-style: dashed dotted;
	border-color: yellow blue orange lightgray;
	font-size: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-bottom: 50px;
}
#second{
	width: 700px;
	height: 700px;
	background-color: darkolivegreen;
	margin: 50px;
	padding: 100px;
}
#third{
	width: 900px;
	height: 200px;
	background-color: lightblue;
	margin: 50px;
	border-width: 10px;
	border-style: dashed;
	border-color: yellow blue;
}
#fourth{
	width: 500px;
	height: 100px;
	background-color: yellow;
	margin: 50px;
	border-width: 10px;
	border-style: dotted;
	border-color: red green;
}